<h1>Sign in</h1>
<div class = "card form-group">
  <div class= "card-body">
  <%= form_for signin_path do |f| %>
    <p><%= f.label :email %></p>
    <%= f.text_field :email, class: 'form-control' %>
    <br>
    <p><%= f.label :password %></p>
    <%= f.password_field :password, class: 'form-control' %>
    <br>
    <br>
    <%= f.submit "Sign in", id: "sign_in_button", :class => "btn btn-success form-control" %>
  <% end %>
  </div>
</div>
