  <%= form_for [@tour, @comment] do |f| %>
  <br>
  <div class = "card">
    <div class = "card-body">
      <%= f.text_area :body, class: "form-control" %>
      <%= f.hidden_field(:user_id, value: current_user.id)%>
      <%= f.submit "Leave Comment", class: "btn btn-primary form-control"  %>
      <% end %>
    </div>
  </div>
<%=link_to "Back To Tour", tour_path(@tour) %>
