<div class="card">
  <div class="card-body">
    <h2>Account</h2>
    <p>Email: <%= @user.email %></p>
    <p>Username: <%= @user.user_name %></p>
    <p>Account Type:
      <% if @user.guide === true %>
        You're signed in as a guide!
        <% else %>
        You're signed in as an attendee</p>
      <% end %>
  </div>
</div>

<div class="card">
  <div class="card-body profile">
    <h2>Your Tours</h2>
    <% if current_user.account.orders.any? %>
    <% current_user.account.orders.each do |tours| %>
      <% tours.tour_orders.each do |tour_info| %>
        <h4><%= tour_info.tour.title%></h4>
        <li>Price: <%= number_to_currency tour_info.tour.price%></li>
        <li>Group Size: <%= tour_info.quantity%></li>
        <li>Location: <%= tour_info.tour.location %></li>
        <p class="delete"><%= link_to "Remove Tour", user_path(tours),
          :data=>{:confirm => "Are You Sure?", :method => "delete"}%></p>
        <br>
      <% end %>
      <hr>
      <h5>Total Price: <%= number_to_currency tours.total_price %></h5>
      <hr>
    <% end %>
    <% else %>
    <p>Tour itenerary is empty. Get exploring!</p>
    <%end %>
  </div>
</div>
