<div class="card">
  <div class="card-body">
    <h2>Account</h2>
    <p>Email: <%= @user.email %></p>
    <p>Username: <%= @user.user_name %></p>
    <p>Guide:
      <% if @user.guide === true %>
        You're signed in as a guide!</p>
      <% end %>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h2>Your Tours</h2>
    <% @user.account.orders.each do |tours| %>
      <% tours.tour_orders.each do |tour_info| %>
        <h4><%= tour_info.tour.title%></h4>
        <li>Price: <%= tour_info.tour.price%></li>
        <li>Group Size: <%= tour_info.quantity%></li>
        <li>Location: <%= tour_info.tour.location %></li>
      <% end %>
      <li>Total Price: <%= number_to_currency tours.total_price %></li>
      <hr>
    <% end %>
  </div>
</div>
