<div class="card">
  <div class="card-body">
    <h2>Account</h2>
    <p>Email: <%= @user.email %></p>
    <p>Username: <%= @user.user_name %></p>
    <p>Account Type:
      <% if is_guide? %>
        Guide
        <% else %>
        Explorer</p>
      <% end %>
      <p class="delete"><%= link_to "Delete Account", user_path(@user),
        :data=>{:confirm => "Are You Sure?", :method => "delete"}%></p>
  </div>
</div>
<br>
<div class="card">
  <div class="card-body profile">
    <% if is_guide? %>
      <% if current_user.tours.any? %>
        <h2>Tours You're Hosting:</h2>
        <% current_user.tours.each do |tour| %>
        <li><strong>Tour: <%= tour.title %></strong></li>
        <li>Location: <%= tour.location %></li>
        <li>Price: <%= number_to_currency tour.price %>
        <li>Time/Date: <%= tour.time.strftime("%I:%M%P")%> / <%= tour.date %><li>
        <% end %>
      <% end %>
      <hr>
    <% end %>
    <h2>Tours Your Attending</h2>
    <% if current_user.account.orders.any? %>
      <% current_user.account.orders.each do |order|  %>
        <% if order.status === "paid" %>
          <% order.tour_orders.each do |tour_info| %>
            <li>Tour Name: <%= tour_info.tour.title %></li>
            <li>Guide: <%= tour_info.tour.user.user_name %></li>
          <%end %>
          <strong>Payment: <%= number_to_currency order.total_price %></strong>
          <hr>
          <% elsif order.status === "In Progress" %>
            <p>Tour Pending...</p>
          <% end %>
        <% end %>
      <% else %>
      <p>No Tours On Account</p>
    <% end %>
  </div>
</div>
