<%= render "layouts/errors", :object => @tour %>

<%= form_for @tour do |f| %>
  <%= f.label "What will you call your Tour?" %>
  <%= f.text_field :title, class: "form-control"%>
  <%= f.label "What are you gonna do on your tour?" %>
  <%= f.text_area :description, class: "form-control", rows: 7%>
  <%= f.label "Where will your tour take place?" %>
  <%= f.text_field :location, class: "form-control"%>
  <%= f.label "Date and time it will take place?" %>
  <%= f.date_field :date, min: Date.today, class: "form-control"%>
  <%= f.time_select :time, min: Time.now, ampm: true, default: Time.now, class: "form-control"%>
  <br>
  <%= f.label "What Would You like for Compensation?" %>
  <div class = "input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">$</span>
    </div>
    <%= f.text_field :price, min: 1,  class:"form-control", label: "Amount (to the nearest dollar)"%>
    <div class="input-group-append">
      <span class="input-group-text">.00</span>
    </div>
  </div>
  <br>
  <!-- <div class="input-group mb-3">
    <div class="custom-file">
      <label class="custom-file-label">Upload Tour Img</label> -->
    <%= f.label "Upload Tour Image"%>
    <%= f.file_field :photo, class: "form-control" %>
    <!--  custom-file-input ^</div>
  </div> -->
  <br>
  <%= f.hidden_field(:user_id, value: current_user.id)%>
  <%= f.submit "Create Tour", class: " btn btn-success form-control"%>
<% end %>
