<div class ="row">
  <div class="col-md-12">
    <div class="dropdown">
      <button class="btn btn-dark dropdown-toggle" id="tour_filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter Tours By:
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/" selected >All</a>
        <a class="dropdown-item" href="?sort=a_z">Title: A-Z</a>
        <a class="dropdown-item" href="?sort=z_a">Title: Z-A</a>
        <a class="dropdown-item" href="?sort=most_recent">Most Recent</a>
        <a class="dropdown-item" href="?sort=oldest">Oldest</a>
        <a class="dropdown-item" href="?sort=most_reviewed">Most Reviewed</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <% @tours.each do |tour| %>
    <div class = "col-md-4">
      <div class = "card tour_card">
          <div class = "card-body">
          <h1><%= link_to tour.title, tour_path(tour) %></h1>
            <%= link_to image_tag(tour.photo.url(:medium),class:"tour_img"), tour_path(tour)%>
            <p>"<%= tour.description %>"</p>
            <p>Price: <%= number_to_currency tour.price %></p>
            <p>Tour Date: <%= tour.date %></p>
            <% if is_admin? %>
              <%= link_to "Edit", edit_tour_path(tour) %> |
              <%= link_to "Delete", tour_path(tour),
            :data=>{:confirm => "Are You Sure?", :method => "delete"}%>
            <% end %>
          </div>
      </div>
    </div>
    <% end %>
  </div>
