<h1><%= @tour.title %></h1>
<h4><%= number_to_currency @tour.price %></h4>
<div class = "row">
  <div class = "col-md-4">
    <div class = "card">
      <div class = "card-body">
        <%= image_tag @tour.photo.url(:medium), class: "tour_img"%>
        <% if is_guide? && current_user.id == @tour.user.id || is_admin? %>
        <br>
          <%= link_to "Edit", edit_tour_path(@tour) %> |
          <%= link_to "Delete", tour_path(@tour),
          :data=>{:confirm => "Are You Sure?", :method => "delete"}%>
        <% end %></p>
        Hosted By: <%= @tour.user.user_name %> <%=image_tag @tour.user.avatar.url(:small),class:"avatar"%>
        <br>
        <br>
        Description: <%= @tour.description%>
        <br>
        <br>
        Location: <%= @tour.location %>
        <br>
        Time: <%=@tour.time.strftime("%I:%M%P")%>
        <%= form_for @tour_order do |f| %>
          <br>
          <%= f.label "Number in Party?(Max 5)"%>
          <%= f.number_field :quantity, in: 1..5, class:"form-control" %>
          <%= f.hidden_field :tour_id, value: @tour.id %>
          <br>
          <%= f.submit "Add to Your Itinerary", class: "btn btn-dark form-control" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class= "col-md-4">
    <% if @tour.comments.any? %>
      <div class= "card">
          <h3>Comments for <%= @tour.title %></h3>
          <% if current_user %>
            <p id="hide_comment_link"><%=link_to "Leave a comment", new_tour_comment_path(@tour), remote: true%></p>
          <% end %>
        <div class= "card-body">
        <% @tour.comments.each do |comment| %>
        <%= comment.body %>
        <br>
        Comment By: <em><%= comment.user.user_name %></em> <%=image_tag comment.user.avatar.url(:small),class:"avatar"%>
        <hr>
        <% end %>
      <% else %>
      <div class = "card comment">
        <p class= "addComment">There are currently no comments for this tour.</p>
           <% if current_user %>
           <p>Been on this tour? <%= link_to "Let others know what you think about it!", new_tour_comment_path(@tour), remote: true%></p>
           <% end %>
        </div>
    <% end %>
      <span id= "displayComment"></span>
      </div>
    </div>
  </div>
</div>
