<h1><%= @tour.title %></h1>
<h4><%= number_to_currency @tour.price %></h4>
<div class = "row">
  <div class = "col-md-4">
    <div class = "card">
      <div class = "card-body">
        <ul>
          <li><%= @tour.description%></li>
          <li><%= @tour.location %></li>
        </ul>
        <%= form_for @tour_order do |f| %>
          <%= f.hidden_field :tour_id, value: @tour.id %>
          <%= f.label "Number of People Attending"%>
          <%= f.number_field :quantity, in: 1..5, class: %>
          <br>
          <%= f.submit "Add to Your Itinerary", class: "btn btn-dark" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class= "col-md-4">
    <% if @tour.comments.any? %>
      <div class= "card">
          <h3>Comments for <%= @tour.title %></h3>
          <p id="hide_comment_link"><%=link_to "Leave a comment", new_tour_comment_path(@tour), remote: true%></p>
        <div class= "card-body">
        <% @tour.comments.each do |comment| %>
        <%= comment.body %>
        <br>
        Comment By: <em><%= comment.user.user_name %></em>
        <hr>
        <% end %>
      <% else %>
        <p class= "addComment">There are no comments for this tour. Been this tour? <%= link_to "Let others know what you think about it!", new_tour_comment_path(@tour), remote: true%></p>
    <% end %>
      <span id= "displayComment"></span>
      </div>
    </div>
  </div>
</div>
