<div class = "row">
  <div class = "col-md-4 tour_details">
    <div class = "card">
      <div class = "card-body">
        <h1 class="tour_title"><%= @tour.title %></h1>
        <h4 class="price"><%= number_to_currency @tour.price%></h4>
        <%= image_tag @tour.photo.url(:medium), class: "tour_img"%>
        <% if is_guide? && current_user.id == @tour.user.id || is_admin? %>
        <br>
          <p><%= link_to "Edit", edit_tour_path(@tour) %> |
          <%= link_to "Delete", tour_path(@tour),
          :data=>{:confirm => "Are You Sure?", :method => "delete"}%>
        <% end %></p>
        Hosted By: <%= @tour.user.user_name %> <%=image_tag @tour.user.avatar.url(:small),class:"avatar"%>
        <br>
        <br>
        Description: <%= @tour.description%>
        <br>
        <br>
        Location: <%= @tour.location %>
        <br>
        Time: <%=@tour.time.strftime("%I:%M%P")%>
        <%= form_for @tour_order do |f| %>
          <br>
          <%= f.label "Number in Party?(Max 5)"%>
          <%= f.number_field :quantity, in: 1..5, class:"form-control" %>
          <%= f.hidden_field :tour_id, value: @tour.id %>
          <br>
          <%= f.submit "Add to Your Itinerary", class: "btn btn-dark form-control" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4" id="map">
    <div class="card">
      <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@tour.latitude},#{@tour.longitude}&markers=#{@tour.latitude},#{@tour.longitude}&zoom=20&size=720x480&key="+ ENV['MAP_KEY'],
                class: 'img-fluid img-rounded', alt: "#{@tour.title} on the map"%>
    </div>
  </div>
  <div class= "col-md-4 comment">
    <% if @tour.comments.any? %>
      <div class= "card">
          <h3>Comments for <%= @tour.title %></h3>
          <% if current_user %>
            <%=link_to "Leave a comment", new_tour_comment_path(@tour), remote: true%>
          <% end %>
        <div class= "card-body">
        <% @tour.comments.each do |comment| %>
        <%= comment.body %>
        <br>
        Comment By: <em><%= comment.user.user_name %></em> <%=image_tag comment.user.avatar.url(:small),class:"avatar"%>
        <hr>
        <% end %>
        <span class= "displayComment"></span>

      <% else %>
      <div class = "card">
        <p class= "addComment">There are currently no comments for this tour.</p>
           <% if current_user %>
           <p>Been on this tour? <%= link_to "Let others know what you think about it!", new_tour_comment_path(@tour), remote: true%></p>
           <% end %>
           <span class= "displayComment"></span>
        </div>
    <% end %>
      </div>
    </div>
  </div>
</div>
