<h1><%= @tour.title %></h1>
<h4><%= number_to_currency @tour.price %></h4>
<div class = "row">
  <div class = "col-8-md">
    <div class = "card">
      <div class = "card-body">
        <ul>
          <li><%= @tour.description%></li>
          <li><%= @tour.location %></li>
        </ul>

        <% if @tour.comments.any? %>
          <% @tour.comments.each do |comment| %>
          <%= comment.body %>
          comment by: <%= comment.user.user_name %>
          <% end %>
        <% else %>
        <p>There are no comments for this tour. Been on it? <%= link_to "Add one!", new_tour_comment_path(@tour)%></p>
        <% end %>
      </div>
    </div>
    <%= link_to "Home", tours_path %>
  </div>
</div>
