<!DOCTYPE html>
<html>
  <head>
    <title>UrbanSherpa</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = "container">
    <% if current_user %>
        <%= current_user.email %> <span id="pipe">|</span> <%= link_to "Sign out", '/signout', id: "signout"%> | <%= link_to "Your Tours | #{tour_cart}", cart_path %>
      <% else %>
        <%= link_to "Sign up", '/signup', id:'sign_up'%> | <%= link_to "Sign in", '/signin', id:'sign_in'%>
      <% end %>
      <%= flash[:alert] %>
      <%= flash[:notice] %>
      <br>
      <br>
    <%= yield %>
    </div>
  </body>

</html>
