<!DOCTYPE html>
<html>
  <head>
    <title>UrbanSherpa</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>

  <body>

    <div class = "container">
      <% if current_user %>
          <p class="nav-top"><%= current_user.email %> <span id="pipe">|</span> <%= link_to "Sign out", '/signout', id: "signout", style: ''%> | <%= link_to "Your Itinerary | #{tour_cart}", cart_path %> | <%= link_to "Home", tours_path %></p>
        <% else %>
          <p class="nav-bottom"><%= link_to "Sign up", '/signup', id:'sign_up'%> | <%= link_to "Sign in", '/signin', id:'sign_in'%> | <%= link_to "Home", tours_path %></p>
        <% end %>
      <div class = "jumbotron">
        <h1> Urban Sherpa </h1>
        <p> Specialized Tours</p>
      </div>
      <%= flash[:alert] %>
      <%= flash[:notice] %>
      <br>
      <br>
    <%= yield %>
    </div>
  </body>

</html>
